.container {
  width: 100%;
  color: black;
  border: 2px solid black;
  box-sizing: border-box;
}

.top__bar {
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  border-bottom: 2px solid black;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: black;
  position: relative;
  box-sizing: border-box;
}

.user__and__search {
  position: absolute;
  top: 20px;
  right: 6px;
  display: flex;
  align-items: center;
}

.search__box {
  display: flex;
  font-size: 13px;
  height: 1.9em;
  width: 10em;
  border: 2px solid black;
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  bottom: 20px;
}

.search__icon {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  position: relative;
}

.search__input {
  width: 70%;
  height: 100%;
  border: none;
  color: #80808b;
}

.search__input::placeholder {
  color: #80808b;
}

.search__input:focus {
  border: none;
  outline: none;
}

.user__box {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  align-items: center;
}

.profile__pic {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 50vh;
  position: relative;
}

.home__buttons {
  font-size: 16px;
  width: 8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.1em 0em 0.2em;
  border: 2px solid black;
  color: black;
  font-size: 12px;
  width: 100%;
  height: 2em;
  cursor: pointer;
}

.dropdown__arrow {
  width: 20%;
  height: 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid black;
}

.menu {
  position: absolute;
  top: 2em;
  width: 80%;
  padding: 5px;
  border: 2px solid black;
  color: black;
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
}

.question {
  margin-bottom: 10px;
  font-size: 11px;
  cursor: pointer;
}

.form {
  margin-top: 10px;
  width: 75%;
  margin-top: 25px;
  margin-left: 40px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.fields {
  width: 80%;
}

.name__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
  width: 100%;
}

.first__name__box {
  width: 45%;
}

.first__name__label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.name__input {
  width: 100%;
  font-size: 20px;
  height: 2em;
  padding-left: 5px;
  border: 2px solid black;
}

.name__input:focus {
  outline: none;
}

.phone__box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.phone__container {
  width: 45%;
}

.phone__label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.phone__input__container {
  width: 100%;
  font-size: 20px;
  height: 2em;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.plus__icon {
  width: 15%;
  height: 70%;
  position: relative;
}

.phone__input {
  flex-grow: 1;
  height: 100%;
  border: none;
  font-size: 20px;
}

.phone__input:focus {
  outline: none;
}

.email__box {
  margin-top: 10px;
  width: 100%;
}

.email__label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.email__input {
  width: 100%;
  font-size: 20px;
  height: 2em;
  padding-left: 5px;
  border: 2px solid black;
}

.email__input:focus {
  outline: none;
}

.address__box {
  margin-top: 10px;
  width: 100%;
}

.address__label {
  font-size: 13px;
  font-weight: 700;
}

.address__input {
  width: 100%;
  font-size: 20px;
  height: 2em;
  padding-left: 5px;
  border: 2px solid black;
  margin-top: 10px;
}

.address__input:focus {
  outline: none;
}

.city__county {
  width: 100%;
  font-size: 20px;
  height: 2em;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.city__county__input {
  width: 45%;
  height: 100%;
  padding-left: 5px;
  border: 2px solid black;
  font-size: inherit;
}

.zip__country {
  width: 100%;
  font-size: 20px;
  height: 2em;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zipcode__input {
  width: 45%;
  height: 100%;
  padding-left: 5px;
  border: 2px solid black;
  font-size: inherit;
}

.country__dropdown {
  font-size: 16px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.country__dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.1em 0em 0.2em;
  border: 2px solid black;
  color: black;
  font-size: 14px;
  width: 100%;
  height: 2em;
  cursor: pointer;
  background-color: white;
}

.country__dropdown__arrow {
  width: 5%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid black;
}

.countries__menu {
  position: absolute;
  top: 1.6em;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  color: black;
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
  height: 60px;
  overflow: scroll;
  overflow-x: hidden;
}

.countries__menu::-webkit-scrollbar {
  width: 5px;
}

.countries__menu::-webkit-scrollbar-button {
  display: none;
}

.countries__menu::-webkit-scrollbar-thumb {
  background: black;
}

.countries__menu::-webkit-scrollbar-track {
  background: white;
}

.country {
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.additional__info {
  margin-top: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.additional__info__label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px !important;
}

.additional__info__input {
  width: 100%;
  font-size: 18px;
  height: 200px;
  padding: 5px;
  border: 2px solid black;
}

.email__input:focus {
  outline: none;
}

.action__buttons {
  margin-top: 10px;
  width: 75%;
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0% 10%;
  margin-bottom: 30px;
}

.action__button {
  font-size: 14px;
  height: 2em;
  width: 9em;
  border: none;
  border-style: outset;
  background-color: #dddddd;
  border-color: black;
  border-width: 1px 3px 3px 1px;
  cursor: pointer;
}

.action__button:active {
  border-width: 3px 2px 2px 3px;
}

.bottom__bar {
  width: 100%;
  height: 24px;
  border-top: 2px solid black;
}
