.outer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}

.deleted__text {
  font-size: 24px;
  font-weight: 700;
  color: green;
}

.container {
  width: 100%;
  height: 100%;
  color: black;
  box-sizing: border-box;
  background-color: white;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-button {
  display: none;
}

.container::-webkit-scrollbar-thumb {
  background: black;
}

.container::-webkit-scrollbar-track {
  background: #fee8ad;
}

.back__button {
  font-size: 20px;
  font-weight: 700;
  height: 2em;
  width: 4em;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top__bar {
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  border-bottom: 2px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 2;
  background-color: #293986;
  color: white;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: black;
  position: relative;
  box-sizing: border-box;
}

.ticket {
  position: absolute;
  top: 10px;
  right: 30px;
  color: black;
  font-size: 18px;
  font-weight: 800;
}

.form {
  margin-top: 10px;
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.fields {
  width: 80%;
  position: relative;
}

.name__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
  width: 100%;
}

.first__name__box {
  width: 45%;
}

.first__name__label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.name__input {
  width: 100%;
  font-size: 20px;
  height: 2em;
  padding-left: 5px;
  border: 2px solid black;
}

.name__input:focus {
  outline: none;
}

.phone__box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.phone__container {
  width: 45%;
}

.phone__label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.phone__input__container {
  width: 100%;
  font-size: 20px;
  height: 2em;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.plus__icon {
  width: 15%;
  height: 70%;
  position: relative;
}

.phone__input {
  flex-grow: 1;
  height: 100%;
  border: none;
  font-size: 20px;
}

.phone__input:focus {
  outline: none;
}

.email__box {
  margin-top: 10px;
  width: 100%;
}

.email__label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.email__input {
  width: 100%;
  font-size: 20px;
  height: 2em;
  padding-left: 5px;
  border: 2px solid black;
}

.email__input:focus {
  outline: none;
}

.address__box {
  margin-top: 10px;
  width: 100%;
}

.address__label {
  font-size: 13px;
  font-weight: 700;
}

.address__input {
  width: 100%;
  font-size: 20px;
  height: 2em;
  padding-left: 5px;
  border: 2px solid black;
  margin-top: 10px;
}

.address__input:focus {
  outline: none;
}

.city__county {
  width: 100%;
  font-size: 20px;
  height: 2em;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.city__county__input {
  width: 45%;
  height: 100%;
  padding-left: 5px;
  border: 2px solid black;
  font-size: inherit;
}

.zip__country {
  width: 100%;
  font-size: 20px;
  height: 2em;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.zip__nda__container {
  width: 45%;
  height: 100%;
}

.zipcode__input {
  width: 100%;
  padding-left: 5px;
  border: 2px solid black;
  font-size: inherit;
  height: 2em;
}

.nda__department__container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nda {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.clip {
  height: 1.8em;
  width: 1.5em;
  cursor: pointer;
  position: relative;
}

.department__dropdown {
  font-size: 16px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.nda__dropdown__arrow {
  width: 15%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid black;
}

.country__dropdown {
  font-size: 16px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.country__dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.1em 0em 0.2em;
  border: 2px solid black;
  color: black;
  font-size: 14px;
  width: 100%;
  height: 2em;
  cursor: pointer;
  background-color: white;
}

.country__dropdown__arrow {
  width: 5%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid black;
}

.countries__menu {
  position: absolute;
  top: 1.6em;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  color: black;
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
  height: 100px;
  overflow: auto;
  overflow-x: hidden;
}

.countries__menu::-webkit-scrollbar {
  width: 5px;
}

.countries__menu::-webkit-scrollbar-button {
  display: none;
}

.countries__menu::-webkit-scrollbar-thumb {
  background: black;
}

.countries__menu::-webkit-scrollbar-track {
  background: #fee8ad;
}

.country {
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.additional__info {
  margin-top: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.additional__info__label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px !important;
}

.additional__info__input {
  width: 100%;
  font-size: 18px;
  height: 150px;
  padding: 5px;
  border: 2px solid black;
}

.email__input:focus {
  outline: none;
}

.action__buttons {
  margin-top: 10px;
  width: 100%;
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0% 10%;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}

.action__button {
  font-size: 14px;
  height: 2em;
  width: 9em;
  border: none;
  border-style: outset;
  background-color: #dddddd;
  border-color: black;
  border-width: 1px 3px 3px 1px;
  cursor: pointer;
  margin-left: 10px;
}

.action__button:active {
  border-width: 3px 2px 2px 3px;
}

.delete__user__modal {
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 40%;
}

.delete__user__text {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.delete__user__buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.delete__user__button {
  width: 30%;
  height: 2em;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
